{% extends "base.html" %}

{% block main %}
    <h1>Удаление аккаунта</h1>
    <p>Вы уверены, что хотите удалить свой аккаунт? Это действие нельзя будет отменить.</p>
    <form method="POST">
        <label>
            <input type="radio" name="confirm" value="yes"> Да, удалить мой аккаунт
        </label>
        <br>
        <label>
            <input type="radio" name="confirm" value="no" checked> Нет, оставить мой аккаунт
        </label>
        <br>
        <button type="submit">Подтвердить</button>
    </form>
    <a href="{{ url_for('menu') }}">Вернуться на главную</a>
{% endblock %}